*{
    list-style: none; 
    width: 1440px;
    height: 689px;
    
     
}
.pintura  img{
    width: 335px;
    height: 432px;
    display: inline-block;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 116px;
    margin-bottom: 140px;
}

@media (max-width:375px){
    .pintura img{
       
        
        display: block;
        margin-top: 0px;
        padding: 0;
        margin-bottom: 0px;
        box-sizing: border-box;
        
    }
}
  